<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>first email</title>
</head>
<body>

    <h1>This is the first html email</h1>
{#    <img src="http://7ff93b9e.ngrok.io/pixel/open/{{ email_pk }}/{{ subscriber_pk }}/pixel.gif/" alt="">#}
{#    <img src="https://124476b7b973.ngrok.io/pixel/open/pixel.gif?email_pk={{ email_pk }}&subscriber_pk={{ subscriber_pk }}" alt="">#}
{#    <img src="{% url 'mailing:pixel' pixel=pix_id %}" alt="">#}
    <a href="https://www.google.co.il/">link text</a>
    <p>with pixel {{ pix_id }}</p>

</body>
</html>