{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block content %}

    <!-- Event Details -->
			<h1>מידע כללי:</h1>
			<div class="row">
				<div class="col-md">
					<div class="card card-body">
						<div class="row">
							<div class="col-md">
								<h5>מספר קמפיינים:</h5>
								<hr>
								<br>
								<h1 style="text-align: center;padding: 10px">{{ campaigns.count }}</h1>
							</div>
							<div class="col-md">
								<h5>מספר רשומים:</h5>
								<hr>
								<br>
								<h1 style="text-align: center;padding: 10px">{{ count_subs }}</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<hr>



			<h1>קמפיינים:</h1>
			<!-- search -->
			<div class="row">
				<div class="col">
					<div class="card card-body form-group search-input">
						<form class="form-inline" method="get">
							{{ campaigns_filter.form }}
							<button class="btn btn-outline-info" type="submit">חיפוש</button>
						</form>
					</div>
				</div>
			</div>
			<br>
			<!-- Guests table -->
			<div class="row">
				<div class="col-md">
					<div class="card card-body">
						<div class="row">
							<div class="col-md" style="position: relative">
								<a href="#" class="btn btn-sm btn-primary btn-success" role="button" aria-pressed="true">הפק דו"ח</a>
								<a href="{% url 'manager:campaign-create'  %}" class="btn btn-sm btn-primary btn-info" role="button" aria-pressed="true">הוסף קמפיין</a>
{#								<a href="{% url 'mai' pk=event.pk %}" class="btn btn-sm btn-info" role="button" aria-pressed="true" title="הוספת אורח לרשימה">הוספה <i class="fas fa-plus"></i></a>#}
                            </div>


                        </div>
                    </div>
						<br>
						<div class="wrapper-table">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>קמפיין</th>
										<th>סטטוס</th>
										<th>רשומים</th>
										<th>נשלחו</th>
										<th>נפתחו</th>
										<th>קליקים</th>
										<th>ביטלו הרשמה</th>
										<th>ערוך</th>
										<th>הסר</th>

									</tr>
								</thead>
								<tbody>
									{% for campaign in  campaigns %}
									<tr>
										<td><a href="" class="" role="link" aria-pressed="true">{{ campaign.name }}</a></td>
										<td>{{ campaign.status }}</td>
										<td>{{ campaign.subs_count }}</td>
										<td>{{ campaign.sent }}</td>
										<td>{{ campaign.opened }}</td>
										<td>{{ campaign.clicks }}</td>
										<td>{{ campaign.canceled }}</td>

										<td>

											<a class="btn btn-sm btn-outline-info" href="{% url 'manager:campaign-update' pk=campaign.pk %}"> <i class="far fa-edit"></i></a>
										</td>
										<td>
											<a class="btn btn-sm btn-outline-danger" href="{% url 'manager:campaign-delete' pk=campaign.pk %}"><i class="fas fa-trash"></i></a>
										</td>
									</tr>
									{% endfor %}
								</tbody>
{#                                {% render_table campaigns %}#}
							</table>
						</div>
					</div>
				</div>



{% endblock content %}